.stream-field {

  &__control {
    display: none;
  }

  &__container {
    min-height: 50px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: opacity 0.3s;
    }
  }

  &__block {
    display: flex;
    padding: 5px 5px 5px 0;
    border: 1px solid #d0d0d0;
    border-radius: 0.25rem;

    &:nth-of-type(n+2) {
      margin-top: 10px;
    }

    &.sortable-ghost {
      opacity: 0.75;
      background-color: #feffd7;
    }

    &--invalid {
      border-color: #e78b8b;
    }

    &--removing {

    }
  }

  &__sortable-handler {
    padding: 3px 0;
    margin: -5px 0;
    cursor: move;
  }

  &__sortable-icon {
    width: 16px;
    height: 100%;
    background: url("./img/sortable.svg");
    background-size: contain;
  }

  &__title {
    margin-left: 6px;

    &--invalid {
      color: #d04010;
    }
  }

  &__tools {
    margin-left: auto;
  }


  &--loading &__container {
    position: relative;

    &:after {
      z-index: auto;
      opacity: 1;
      background: #f0f0f0b0 url("./img/spinner.svg") no-repeat center;
    }
  }
}
