.stream-field {
  &__control {
    display: none;
  }

  &__container {
    padding-bottom: 5px;
    min-height: 50px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: opacity 0.3s;
    }
  }

  &__blocks {

  }

  // ============
  //   Block
  // ============

  &__block {
    display: flex;
    padding: 5px 5px 5px 0;
    gap: 6px;
    border-radius: var(--border-radius, 0.25rem);
    box-shadow: 0 0 0 1px var(--input-border-color, #d0d0d0);

    &:nth-of-type(n + 2) {
      margin-top: 10px;
    }

    &--invalid {
      color: #d04010;
      box-shadow: 0 0 0 2px var(--input-invalid-border-color, #df7d5c);
    }
  }

  // ============
  //   Sortable
  // ============

  &__sortable-handler {
    padding: 5px 0;
    margin: -5px 0;
    cursor: move;
  }

  &__sortable-icon {
    width: 18px;
    height: 100%;
    background: url("./img/sortable.svg");
    background-size: contain;
  }

  &__block.sortable-ghost {
    opacity: 0.75;
    background-color: #feffd7;
  }

  // ============
  //   Content
  // ============

  &__content {
    overflow: hidden;
    line-height: 18px;
  }

  &__title {
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__type {
    margin: 0;
    color: var(--gray, #9a9a9a);
    font-size: 0.75rem;
  }

  &__block-tools {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 3px 0;
    flex: 0 0 auto;
    gap: 0.7rem;
  }

  &__visibility-switch {
    transform: scale(0.833333);
    transform-origin: center right;
  }

  // ============
  //   Buttons
  // ============

  &__buttons {
    display: flex;
    margin-top: 2px;
    gap: 6px;
  }

  &__dropdown {
    margin-top: 8px;
  }

  &__dropdown-menu {
    overflow: auto;
    max-height: 300px;
    border: 1px solid #444;
    box-shadow: 0 0 0 1px #444;
  }

  &__dropdown-item {
    &:focus {
      background-color: #e9ecef;
      color: #1d1d1d;
      box-shadow: none;
    }

    &:hover {
      background-color: #79aec8;
      color: #fff;
      font-weight: 400;
    }
  }

  // ============
  //   States
  // ============

  &--hidden {
    background-color: #f2f2f2;
  }

  &--hidden &__content {
    opacity: 0.6;
  }

  &--loading &__container {
    position: relative;

    &:after {
      z-index: auto;
      opacity: 1;
      background: #f0f0f0b0 url("./img/spinner.svg") no-repeat center;
    }
  }
}
