<div class="{% block classes %}stream-field__block{% endblock classes %}" data-uuid="{{ uuid }}">
  <div class="stream-field__sortable-handler">
    <div class="stream-field__sortable-icon"></div>
  </div>

  <div class="stream-field__content">
    {% block content %}
      <p class="stream-field__title">{{ title }}</p>
      <p class="stream-field__type">{{ verbose_name }}</p>
    {% endblock content %}
  </div>

  <div class="stream-field__block-tools">
    <div class="btn-square-group">
      {% block tools %}
        {% if change_button.show %}
          <a href="{{ change_button.url }}"
             id="change_uuid_{{ uuid }}"
             class="stream-field__change-btn btn btn-square btn-sm btn-square--info {{ change_button.icon }}"
             data-xclass="bs-tooltip"
             data-placement="top"
             data-trigger="hover"
             data-html="true"
             title="{{ change_button.title }}">
          </a>
        {% endif %}

        <button type="button"
                class="stream-field__delete-btn btn btn-square btn-sm btn-square--danger {{ delete_button.icon }}"
                data-xclass="bs-tooltip"
                data-placement="top"
                data-trigger="hover"
                data-html="true"
                title="{{ delete_button.title }}">
        </button>
      {% endblock %}
    </div>
  </div>
</div>